# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Logs
*.log

# Test output
junit-*.xml

# VS Code settings
.vscode/

# macOS and system files
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# IDEs
.idea/
*.swp

# Sphinx documentation
docs/_build/

